.idea/*
var/*
vendor/*
.env
volumes/*
docker-compose.override.yml

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/symfony.lock
###< symfony/framework-bundle ###